@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 87%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 87%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 87%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 317 77% 65%;
    --primary-foreground: 0 0% 87%;

    --secondary: 0 0% 87%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 85.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 148 49% 45%;
    --accent-foreground: 0 0% 87%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 87%;

    --border: 0 0% 87%;
    --input: 148 49% 65%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 87%;

    --card: 0 0% 11%;
    --card-foreground: 0 0% 87%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 87%;

    --primary: 317 90% 70%;
    --primary-foreground: 0 0% 87%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 87%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 148 49% 45%;
    --accent-foreground: 0 0% 87%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 87%;

    --border: 0 0% 14.9%;
    --input: 148 49% 15%;
    --ring: 0 0% 87%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
